# Ignore environment variables
.env

# Ignore local data files
data/*.parquet
data/*.json
data/*.csv

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Streamlit cache
.streamlit/

# Ignore logs
*.log
